/*Integritas CSS pada HTML , kumpulan dari tag-tag yang disusun sehingga
memiliki bagian-bagian tertentu , dibawah ini adalah designnya*/
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color : grey ;
    }